/*
* @Author: xsmallbird
* @Date:   2018-04-09 15:45:06
* @Last Modified by:   xsmallbird
* @Last Modified time: 2018-04-12 11:55:06
* @Description: CSS Reset
*/


// http://necolas.github.io/normalize.css/

@import './node_modules/normalize.css/normalize';
@import './mixins';
@import './variables';


// 移除IOS有事件监听的元素被点击的时候会被高亮显示

* {
  -webkit-tap-highlight-color: transparent;
}


// 清除body元素的浮动

body {
  @include clear();
}


// 设置段落和标题元素的字体粗细为正常

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}


// 设置列表元素的padding和margin，并移除m默认的列表样式

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}


// 清除inline元素的默认样式

span,
i,
sup,
em {
  font-style: normal;
}


// 回归简单的表单元素样式

input,
textarea,
button {
  padding: 0;
  background: $white;
  border: 0;
  outline: 0;
  appearance: none;
}
