
@import './variables';


* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 10px;
  color: $very-dark-gray;
}

body {
  margin: 0;

  &::before,
  &::after {
    display: table;
    content: ' ';
  }

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

span,
i,
sup,
em {
  font-style: normal;
}

input,
textarea,
button {
  padding: 0;
  background: $white;
  border: 0;
  outline: 0;
  appearance: none;
}
