/*
* @Author: xsmallbird
* @Date:   2018-04-11 16:06:40
* @Last Modified by:   xsmallbird
* @Last Modified time: 2018-04-11 21:30:25
* @Description: 浮动
*/


// 清除浮动
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clear () {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}
