/*
* @Author: xsmallbird
* @Date:   2018-04-11 14:52:46
* @Last Modified by:   xsmallbird
* @Last Modified time: 2018-04-11 21:32:15
* @Description: 绘制图形
*/


/**
 * @description 三角形
 * @param {$direction} 方向: top, right, bottom, left
 * @param {$size} 边长
 * @param {$border-color} 颜色
 */

@mixin triangle ($direction, $size, $border-color) {
  width: 0;
  height: 0;
  overflow: hidden;
  content: ' ';

  @if $direction == top {
    border-right: $size solid transparent;
    border-bottom: $size solid $border-color;
    border-left: $size solid transparent;
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $border-color;
  } @else if $direction == bottom {
    border-top: $size solid $border-color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  } @else if $direction == left {
    border-top: $size solid transparent;
    border-right: $size solid $border-color;
    border-bottom: $size solid transparent;
  }
}
