/*
* @Author: xsmallbird
* @Date:   2018-04-09 15:45:06
* @Last Modified by:   xsmallbird
* @Last Modified time: 2018-04-12 11:49:11
* @Description: 定位
*/


// 绝对定位
// @Param {$top} 顶部偏移距离
// @Param {$right} 右边偏移距离
// @Param {$bottom} 底部偏移距离
// @Param {$left} 左边偏移距离

@mixin absolute ($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


// 相对定位
// @Param {$top} 顶部偏移距离
// @Param {$right} 右边偏移距离
// @Param {$bottom} 底部偏移距离
// @Param {$left} 左边偏移距离

@mixin relative ($top, $right, $bottom, $left) {
  position: relative;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


// 固定定位
// @Param {$top} 顶部偏移距离
// @Param {$right} 右边偏移距离
// @Param {$bottom} 底部偏移距离
// @Param {$left} 左边偏移距离

@mixin fixed ($top, $right, $bottom, $left) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


// 通过定位以左上角定位
// @Param {$position} 定位方式
// @Param {$top} 顶部偏移距离
// @Param {$left} 左边偏移距离

@mixin top-left ($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}


// Alias `top-left`

@mixin tl ($position, $top, $left) {
  @include top-left ($position, $top, $left);
}


// 通过定位以右上角定位
// @Param {$position} 定位方式
// @Param {$top} 顶部偏移距离
// @Param {$right} 右边偏移距离

@mixin top-right ($position, $top, $right) {
  position: $position;
  top: $top;
  right: $right;
}


// Alias `top-right`

@mixin tr ($position, $top, $right) {
  @include top-right($position, $top, $right);
}


// 通过定位以左下角定位
// @Param {$position} 定位方式
// @Param {$bottom} 顶部偏移距离
// @Param {$left} 左边偏移距离

@mixin bottom-left ($position, $bottom, $left) {
  position: $position;
  bottom: $bottom;
  left: $left;
}


// Alias `bottom-left`

@mixin bl ($position, $bottom, $left) {
  @include bottom-left ($position, $bottom, $left);
}


// 通过定位以右下角定位
// @Param {$position} 定位方式
// @Param {$bottom} 顶部偏移距离
// @Param {$right} 右边偏移距离

@mixin bottom-right ($position, $bottom, $right) {
  position: $position;
  right: $right;
  bottom: $bottom;
}


// Alias `bottom-right`

@mixin br ($position, $bottom, $right) {
  @include bottom-right ($position, $bottom, $right);
}


// 通过定位相对顶部正偏移
// @Param {$top} 想对顶部偏移距离
// @Param {$position} 定位方式

@mixin offset-top ($top, $position: relative) {
  position: $position;
  top: $top;
  transform: translate(0, -50%);
}


// 通过定位相对右边正偏移
// @Param {$top} 想对右边偏移距离
// @Param {$position} 定位方式

@mixin offset-right ($right, $position: relative) {
  position: $position;
  top: $right;
  transform: translate(50%, 0);
}


// 通过定位相对左边正偏移
// @Param {$left} 想对左边偏移距离
// @Param {$position} 定位方式

@mixin offset-left ($left, $position: relative) {
  position: $position;
  left: $left;
  transform: translate(-50%, 0);
}


// 通过定位相对底部正偏移
// @Param {$bottom} 想对底部偏移距离
// @Param {$position} 定位方式

@mixin offset-bottom ($bottom, $position: relative) {
  position: $position;
  bottom: $bottom;
  transform: translate(0, 50%);
}


// 通过定位垂直居中
// @Param {$position} 定位方式

@mixin vertial-center ($position: absolute) {
  @include offset-top(50%, $position);
}


// Alias `vertial-center`

@mixin vc ($position: absolute) {
  @include vertial-center($position);
}


// 通过定位水平居中
// @Param {$position} 定位方式

@mixin horizontal-center ($position: absolute) {
  @include offset-left(50%, $position);
}


// Alias `horizontal-center`

@mixin hc ($position: absolute) {
  @include horizontal-center($position);
}
