// Responsive

@import './position';
@import './size';


// Keep images from scaling beyond the width of their parents.
@mixin img-responsive ($display: block) {
  display: $display;
  max-width: 100%;
  height: auto;
}


// Responsive rectangular 矩形
// <div class="square-responsive">
//    <div class="content"></div>
//  </div>
@mixin rect-responsive ($width, $scale) {
  position: relative;
  width: $width;
  margin: 0 auto;

  &::before {
    content: '';
    display: block;
    padding: $scale 0 0;
  }

  .content {
    @include size(100%, 100%);
    @include top-right(absolute, 0, 0);
  }
}


// `rect-responsive`的缩写
@mixin rr ($width, $scale) {
  @include rect-responsive($width, $scale);
}


// 响应式等比例缩放
// Responsive square 正方形
// <div class="square-responsive">
//    <div class="content"></div>
//  </div>
@mixin square-responsive ($size) {
  @include rect-responsive($size, $size);
}


// `square-responsive`的缩写
@mixin sr ($size) {
  @include square-responsive($size);
}
