// Text overflow
// Requires inline-block or block for proper styling
// ellipsis: 用"..."来代替被截取的文本
// clip: 直接修建文本

@mixin text-overflow ($mode: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $mode;
}
