// 垂直居中设置

@mixin vertial-center ($position: absolute) {
  position: $position;
  top: 50%;
  transform: translate(0, -50%);
}


// `vertial-center`的缩写
@mixin vc ($position: absolute) {
  @include vertial-center($position);
}
